<div class="accordion" id="accordion">
  <div class="card" *ngFor="let gallery of galleries; index as i">
    <div class="card-header" id="heading" >
      <div class="row default-row" [id]="'gallery_row_default_' + gallery.gallery_id">
        <img [src]="getGalleryImage(gallery)" height="25px" width="25px" [style]="showGalleryImage(gallery)">
        <a class="btn-link col-auto mr-auto" data-toggle="collapse" [attr.data-target]="'#gallery_' + i">{{gallery.title}}</a>
        <a class="btn-link col-auto material-icons" title="Edit Gallery" (click)="editGallery(gallery)">edit</a>
        <a class="btn-link col-auto material-icons" title="Upload Image" data-toggle="modal" data-target="#addImageModal" (click)="changeCurrentGallery(gallery)">add_photo_alternate</a>
        <a class="btn-link col-auto material-icons" [ngClass]="isNotClickableUp(gallery)" title="Move Gallery Up" (click)="moveGalleryDown(gallery)" >keyboard_arrow_down</a>
        <a class="btn-link col-auto material-icons" [ngClass]="isNotClickableDown(gallery)" title="Move Gallery Down" (click)="moveGalleryUp(gallery)">keyboard_arrow_up</a>
        <a class="btn-link col-auto material-icons" title="Delete Gallery" (click)="deleteGallery(gallery)">delete</a>
      </div>
      <div class="row add-new edit-row hidden" [id]="'gallery_row_edit_' + gallery.gallery_id">
        <div class="col-3">
          <input type="text" class="form-control" placeholder="Title" [(ngModel)]="gallery.title">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Description" [(ngModel)]="gallery.description">
        </div>
        <div class="col-0">
          <a class="btn-link col-auto material-icons save-clear-btn" (click)="exitExit(true, gallery)">save</a>
          <a class="btn-link col-auto material-icons save-clear-btn" (click)="exitExit(false, gallery)">clear</a>
        </div>
      </div>
    </div>

    <div id="gallery_{{i}}" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <div class="accordion" id="accordion{{i}}">
          <div class="card" *ngFor="let image of gallery.images; index as i">
            <div class="card-header" id="heading2">
              <div class="row">
                <img src="{{image.base64}}" height="25px" width="25px">
                <a class="btn-link col-auto mr-auto">{{image.title}}</a>

                <a class="btn-link col-auto material-icons">edit</a>
                <a class="btn-link col-auto material-icons" title="Set as gallery image" (click)="setAsGalleryImage(gallery, image)">wallpaper</a>
                <a class="btn-link col-auto material-icons">keyboard_arrow_down</a>
                <a class="btn-link col-auto material-icons">keyboard_arrow_up</a>
                <a class="btn-link col-auto material-icons" (click)="deleteImage(image.image_id)">delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" >
        <div class="row add-new">
          <div class="col-3">
            <input type="text" class="form-control" placeholder="Title" [(ngModel)]="addGalleryTitle">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Description" [(ngModel)]="addGalleryDesc">
          </div>
          <div class="col-0">
            <a class="btn-link col-auto material-icons add-btn" (click)="addGallery()">add</a>
          </div>
        </div>
    </div>
  </div>
</div>

<app-add-image-dialog [currentGallery]="currentGallery"></app-add-image-dialog>
