.btn-link:hover{
  text-decoration: none;
  cursor: pointer;
}

.gallery-title{
  font-size: large;
  font-weight: bold;
}

.gallery-desc{
  margin-top: 5px;
  font-size: small;
  font-style: italic;
}

.material-icons{
  user-select: none;
}

.row{
  margin: 10px 0px;
}

.add-new{
  margin: 4.75px 0px;
}

.add-btn{
  padding-left: 0px;
  padding-right: 0px;
  margin: 6px 0px;
}

.save-clear-btn{
  margin: 6px 0px;
}

.unclickable{
  pointer-events: none;
  color: lightgray
}

.hidden{
  display: none;
}

.image-counter{
  margin-left: 10px;
  color: gray;
}

.image-title{
  font-weight: bold;
}

.image-desc{
  margin-top: 3px;
  font-size: small;
  font-style: italic;
}

.no-effect:hover{
  cursor: default;
  color: #18bc9c;
}
