.btn-link:hover {
  text-decoration: none;
  cursor: pointer;
}

.small-img {
  margin-left: 15px;
}

.gallery-title {
  font-size: large;
  font-weight: bold;
}

.gallery-desc {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: small;
  font-style: italic;
}

.material-icons {
  user-select: none;
}

.row {
  margin: 10px 0;
}

.add-new {
  margin: 4.75px 0;
}

.add-btn {
  padding-left: 0;
  padding-right: 0;
  margin: 6px 0;
}

.save-clear-btn {
  margin: 6px 0;
}

.unclickable {
  pointer-events: none;
  color: lightgray
}

.hidden {
  display: none;
}

.image-title {
  font-weight: bold;
}

.image-desc {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: small;
  font-style: italic;
}

.no-effect:hover {
  cursor: default;
}
