<h1>Dashboard</h1>
<ul #tabs id="tabs" class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" (click)="changeView(0)">Content</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="changeView(1)">About me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="changeView(2)">Security</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="changeView(3)">Design</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="changeView(4)">Disclaimer</a>
  </li>
</ul>
<br>
<div [ngSwitch]="selectedIndex">
<!-- the same view can be shown in more than one case -->
<app-dashboard-content *ngSwitchCase="0"></app-dashboard-content>
<app-dashboard-about-me *ngSwitchCase="1"></app-dashboard-about-me>
<app-dashboard-security *ngSwitchCase="2"></app-dashboard-security>
<app-dashboard-design *ngSwitchCase="3"></app-dashboard-design>
<app-dashboard-disclaimer *ngSwitchCase="4"></app-dashboard-disclaimer>
<app-dashboard-content *ngSwitchDefault></app-dashboard-content>
</div>

